.jumbo {
  width: 100%;
  font-family: ProximaNova, Arial, "Helvetica Neue", sans-serif;
  display: flex;
  
}

.jumboLeft {
  width: 55%;
  padding-left: 50px;
}

.jumboLeftHeader {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.swiggyLogo{
  width: 60px;
  height: 70px;
  object-fit: contain;
}
.logoPart{
  display: flex;
}
.logoPart > h1 {
  line-height: 16px;
  letter-spacing: 3px;
  color: #fc8019;
  font-weight: 800;
  align-self:center;
}
.buttons {
  display: flex;
}
.login {
  height: 40px;
  width: 110px;
  color: #000;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
.signUp {
  height: 40px;
  width: 110px;
  background-color: #000;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.login:hover {
  cursor: pointer;
  color: #fc8019;
}
.signUp:hover {
  cursor: pointer;
}

.jumboRight {
  width: 45%;
  height: 550px;
 
}
.jumboRight > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) and (min-width: 768px) {
  .jumboLeft {
    width: 55%;
    padding-left: unset;
  }
  .jumboLeftHeader {
    width: 90%;
  }
  .login {
    height: 30px;
    width: 70px;
  }
  .signUp {
    height: 30px;
    width: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .jumbo {
    flex-direction: column;
  }
  .jumboLeft {
    width: 100%;
    padding-left: unset;
  }

  .login {
    height: 40px;
    width: 90px;
  }
  .signUp {
    height: 40px;
    width: 90px;
  }
  .swiggyLogo{
    width: 40px;
    height: 45px;
    object-fit: contain;
  }
  .logoPart > h1 {
    line-height: 14px;
    letter-spacing: 1px;
    font-size: 13px;
  }
  .jumboRight {
    width: 100%;
    height: 400px;
  }
  .jumboRight > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width:500px) {
  .jumboLeftHeader {
    width: 90%;
    margin-top: 20px;
  }

  .login {
    height: 30px;
    width: 60px;

    font-size: 12px;
    font-weight: 400;
  }
  .signUp {
    height: 30px;
    width: 60px;
    color: white;
    font-size: 12px;
    font-weight: 400;
  }
  .swiggyLogo{
    width: 40px;
    height: 45px;
    object-fit: contain;
  }
  .logoPart > h1 {
    line-height: 14px;
    letter-spacing: 1px;
    font-size: 13px;
  }
  .jumboRight {
    width: 100%;
    height: 250px;
  }
  .jumboRight > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 250px){
  
  .login {
    height: 30px;
    width: 40px;

    font-size: 10px;
    font-weight: 200;
  }
  .signUp {
    height: 30px;
    width: 40px;

    font-size: 10px;
    font-weight: 200;
  }
  .swiggyLogo{
    width: 30px;
    height: 35px;
    object-fit: contain;
  }
  .logoPart > h1 {
   
    letter-spacing: 1px;
    font-size: 10px;
  }
}


.loginCompo{
  position:absolute;
  z-index: 1;
  right: -600px;
  top: 0px;
  width: 550px;
  height:100%;
  background:#ffffff;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

@-webkit-keyframes slide {
  100% {  right: 0; }
}

@keyframes slide {
  100% {  right: 0; }
}
.loginBox{
  margin-left: 30px;
  margin-top: 30px;
  width: 400px;
  line-height: 40px;
}

.loginHead{
  display: flex;
  justify-content: space-between;
}
.loginHead>div>h1{
  font-weight: 500;
}
.loginImage{
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
#logINBTN{
  width: 100%;
  outline:none;
  border: 1px solid lightgray;
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
}
#logButton{
  width: 100%;
  height: 50px;
  background-color: #FC8019;
  color: white;
  font-weight: 500;
  outline: none;
  border: none;
  margin-top: 20px;
}
.loginBox>p{
  font-size: 12px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}