.jumbo{
    width: 100%;
    font-family:ProximaNova, Arial, "Helvetica Neue", sans-serif;
    display: flex;
}

.jumboLeft{
    width: 50%;
   padding-left: 50px;
   text-align:left;
}

.jumboLeftHeader{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    margin-top: 40px;
  
}
.jumboLeftHeader>h1{
    line-height: 16px;
    letter-spacing: 2px;
    color: #FC8019;
}
.buttons{
    display: flex;  
}
.login{
    height: 40px;
    width: 110px;
    color: #000;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.signUp{
    height: 40px;
    width: 110px;
    background-color: #000;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.login:hover{
    cursor: pointer;
    color: #FC8019;
}
.signUp:hover{
    cursor: pointer;
}










.jumboRight{
    width: 50%;
}
.jumboRight>img{
    width: 100%;
}